.slide1 {
	background-image: url("../../images/Bellagio Tower/1.jpg")
}
.slide2 {
	background-image: url("../../images/Bellagio Tower/2.jpg")
}
.slide3 {
	background-image: url("../../images/Bellagio Tower/3.jpg")
}
.slide4 {
	background-image: url("../../images/Bellagio Tower/4.jpg")
}
.slide5 {
	background-image: url("../../images/Bellagio Tower/5.jpg")
}
.slide6 {
	background-image: url("../../images/Bellagio Tower/6.jpg")
}
.slide7 {
	background-image: url("../../images/Bellagio Tower/7.jpg")
}
