header {
	width: 100%;
	background-color: rgb(23, 23, 23);
	padding: 1% 0;
}
.pizzanut {
	width: 20%;
	margin: auto;
}
body {
	margin: 0;
	background-color: rgb(72, 72, 72);
	color: white;
	font-family: arial;
}
.paragraph {
	background-image: url(pizza.png);
	background-repeat: no-repeat;
	width: 50%;
	margin: 2% auto;
	padding: 2em;
	text-shadow: 2px 2px 4px #000;
	border: 2px solid black;
}
.item1 {
	text-align: center;
	display: block;
	border: 2px solid black;
	width: 300px;
	margin: 1em auto;
	background-color: rgb(41, 41, 41);
	border-radius: 25px;
}
.item1 img{
	width: 200px;
	padding: 1em;
}
input[type=text], select {
  width: 100%;
  padding: 12px 0;
  margin: 1em 0;
  border: none;
  border-radius: 4px;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(41,41,41);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-bottom: 90px;
  border: none;
  border-radius: 4px;
}
form {
	margin: 3em 120px;
}
footer {
	background-color: rgb(41,41,41);
	padding: 2em;
}