.slide1 {
	background-image: url("../../images/Greenbelt Parkplace/1.jpg")
}
.slide2 {
	background-image: url("../../images/Greenbelt Parkplace/2.jpg")
}
.slide3 {
	background-image: url("../../images/Greenbelt Parkplace/3.jpg")
}
.slide4 {
	background-image: url("../../images/Greenbelt Parkplace/4.jpg")
}
.slide5 {
	background-image: url("../../images/Greenbelt Parkplace/5.jpg")
}
.slide6 {
	background-image: url("../../images/Greenbelt Parkplace/6.jpg")
}

