.slide1 {
	background-image: url("../../images/Penhurst/1.jpg")
}
.slide2 {
	background-image: url("../../images/Penhurst/2.jpg")
}
.slide3 {
	background-image: url("../../images/Penhurst/3.jpg")
}
.slide4 {
	background-image: url("../../images/Penhurst/4.jpg")
}
.slide5 {
	background-image: url("../../images/Penhurst/5.jpg")
}
.slide6 {
	background-image: url("../../images/Penhurst/6.jpg")
}
