.slide1 {
	background-image: url("../../images/Bellagio Tower 3/1.jpg")
}
.slide2 {
	background-image: url("../../images/Bellagio Tower 3/2.jpg")
}
.slide3 {
	background-image: url("../../images/Bellagio Tower 3/3.jpg")
}
.slide4 {
	background-image: url("../../images/Bellagio Tower 3/4.jpg")
}
.slide5 {
	background-image: url("../../images/Bellagio Tower 3/5.jpg")
}
.slide6 {
	background-image: url("../../images/Bellagio Tower 3/6.jpg")
}
.slide7{
	background-image: url("../../images/Bellagio Tower 3/7.jpg")
}
.slide8 {
	background-image: url("../../images/Bellagio Tower 3/8.jpg")
}