.slide1 {
	background-image: url("../../images/Ayala Alabang Village House and Lot/1.jpg")
}
.slide2 {
	background-image: url("../../images/Ayala Alabang Village House and Lot/2.jpg")
}
.slide3 {
	background-image: url("../../images/Ayala Alabang Village House and Lot/3.jpg")
}
.slide4 {
	background-image: url("../../images/Ayala Alabang Village House and Lot/4.jpg")
}
.slide5 {
	background-image: url("../../images/Ayala Alabang Village House and Lot/5.jpg")
}
.slide6 {
	background-image: url("../../images/Ayala Alabang Village House and Lot/6.jpg")
}