.slide1 {
	background-image: url("../../images/Elizabeth Place Penthouse/1.jpg")
}
.slide2 {
	background-image: url("../../images/Elizabeth Place Penthouse/2.jpg")
}
.slide3 {
	background-image: url("../../images/Elizabeth Place Penthouse/3.jpg")
}
.slide4 {
	background-image: url("../../images/Elizabeth Place Penthouse/4.jpg")
}
.slide5 {
	background-image: url("../../images/Elizabeth Place Penthouse/5.jpg")
}
.slide6 {
	background-image: url("../../images/Elizabeth Place Penthouse/6.jpg")
}
.slide7 {
	background-image: url("../../images/Elizabeth Place Penthouse/7.jpg")
}
.slide8 {
	background-image: url("../../images/Elizabeth Place Penthouse/8.jpg")
}
.slide9 {
	background-image: url("../../images/Elizabeth Place Penthouse/9.jpg")
}
.slide10 {
	background-image: url("../../images/Elizabeth Place Penthouse/10.jpg")
}
.slide11 {
	background-image: url("../../images/Elizabeth Place Penthouse/11.jpg")
}
.slide12 {
	background-image: url("../../images/Elizabeth Place Penthouse/12.jpg")
}