body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 1em;
	margin: 0;
	background-color: #202020;
}

#main {
	padding: 4% 15%;
	background-color: #333;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about {	
	background-image: url(makati.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 3em;
	padding-left: 2.5em;
	font-size: 2em;
	color: white;
	font-weight: 550;
	text-shadow: 3px 3px 7px #000;
}

.listing{
	font-size: 1.4em;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
	margin: auto;
	margin-bottom: 5%;
	border: 2px solid black;
	background-color: #808080;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 3%;
}

.listing img{
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid black;
	width: 50%;
}

.listing ul a{
	background-color: #202020;
	padding: 7px;
	color: #fff;
	text-decoration: none;
}

.listing img:hover{
	transform: scale(1.03);
}

.listtitle {
	font-weight: 900;
	text-align: center;
}

.listing li{
	list-style-type: square;
	text-align: left;
}

.listing ul{
	float: right;
	text-align: left;
	width: 45%;
	display: inline-block;
}

.more a{
	margin: auto;
	width: 100%;
	margin-left: 31%;
	margin-right: 31%;
	transition: .5s;
}

.more a:hover {
	transform: scale(2.1);
	color: #999;
}

h1 {
	padding-top: 1em;
	padding-left: -2em;
	font-weight: 100;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	word-spacing: 0.5em;
	letter-spacing: 0.1em;
	padding-bottom: 0px;
}

h4{
	padding-top: 0px;
	font-weight: 100;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	word-spacing: 0.5em;
	letter-spacing: 0.15em;
}

h5{
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 5px #000;
	font-size: 130%;
}

h2 {
	text-align: center;
}
h3 {
	margin-left: 2em;
	font-size: 2em;
	color: #fff;
	text-shadow: 1px 1px 5px #000;
}

#main-header{
	background-color: #006;
	color: #fff;
	line-height: 2em;
	background-size: 400% 400%;
	animation: gradient 20s infinite;
	background-image: linear-gradient(90deg,#900,#994c00,#990,#090,#004c99,#4C0099);
	padding-bottom: 1.3em;
	padding-left: 2em;
}

.main{
	background-color: #333;
	padding: 2%;
	height: 100%;
	padding-bottom: 45%;
}

.contact{
	float: right;
	background-color: #202020;
	padding-right: 3em;
	line-height: 2.2em;
	margin: 0 0;
}

#navbar {
	background-color: #202020;
	line-height: 2.3em;
	padding-bottom: 0.2em;
	color: #fff;
}

#navbar img{
	padding: 0 1em;
}

#navbar a{
	color: #fff;
	text-decoration: none;
	padding: 2em;
	transition: 0.5s;
}

#navbar a:hover{
	color: #999;
}

.listing-images {
	display: inline;
	width: 55%;
	box-shadow: 2px 2px 5px #000;
	float: left;
	border: 1px solid black;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 2em;
  color: #fff;
  padding: 35%;
}

.wrap {
  position: relative;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

.listing-info {
	float: right;
	text-align: center;
	width: 41%;
	font-size: 1.3em;
}

.listing-info li{
	list-style-type: square;
	font-size: 1em;
	text-align: left;
	color: white;
}

.number {
	width: 435px;
	float: right;
	color: #fff;
}

.logo {
	float:left; 
	display: inline-block;
	margin-right: -150px;
}

.logo img{
	transition: 0.5s;
	overflow: hidden;
}

.logo img:hover{
	filter: grayscale(10);
	transform: scale(1.01);
}

.price {
	text-align: center;
}

.money {
	font-family: Verdana, Genava, sans-serif;
	font-weight: 900;
	color: #0B8106;
	display: inline;
}

.contactus {
	color: #fff;
	font-size: 200%;
	text-shadow: 1px 1px 5px #000;
}

.images2 img{
	width: 29%;
	margin: 2%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
	border: 3px solid black;
	border-radius: 5px;
	margin: 3em 0em 3em 0em;
}

p {
	text-align: left;
	color: #fff;
	font-size: 110%;
}

@keyframes gradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
