.slide1 {
	background-image: url("../../images/Jazz Residences/1.jpg")
}
.slide2 {
	background-image: url("../../images/Jazz Residences/2.jpg")
}
.slide3 {
	background-image: url("../../images/Jazz Residences/3.jpg")
}
.slide4 {
	background-image: url("../../images/Jazz Residences/4.jpg")
}
.slide5 {
	background-image: url("../../images/Jazz Residences/5.jpg")
}
.slide6 {
	background-image: url("../../images/Jazz Residences/6.jpg")
}
.slide7 {
	background-image: url("../../images/Jazz Residences/7.jpg")
}
.slide8 {
	background-image: url("../../images/Jazz Residences/8.jpg")
}
.slide9 {
	background-image: url("../../images/Jazz Residences/9.jpg")
}
.slide10 {
	background-image: url("../../images/Jazz Residences/10.jpg")
}
.slide11 {
	background-image: url("../../images/Jazz Residences/11.jpg")
}