.slide1 {
	background-image: url("../../images/Anilao Batangas/1.jpg")
}
.slide2 {
	background-image: url("../../images/Anilao Batangas/2.jpg")
}
.slide3 {
	background-image: url("../../images/Anilao Batangas/3.jpg")
}
.slide4 {
	background-image: url("../../images/Anilao Batangas/4.jpg")
}
.slide5 {
	background-image: url("../../images/Anilao Batangas/5.jpg")
}
.slide6 {
	background-image: url("../../images/Anilao Batangas/6.jpg")
}
.slide7 {
	background-image: url("../../images/Anilao Batangas/7.jpg")
}
.slide8 {
	background-image: url("../../images/Anilao Batangas/8.jpg")
}
.slide9 {
	background-image: url("../../images/Anilao Batangas/9.jpg")
}
.slide10 {
	background-image: url("../../images/Anilao Batangas/10.jpg")
}
.slide11 {
	background-image: url("../../images/Anilao Batangas/11.jpg")
}
.slide12 {
	background-image: url("../../images/Anilao Batangas/12.jpg")
}
.slide13 {
	background-image: url("../../images/Anilao Batangas/13.jpg")
}
.slide14 {
	background-image: url("../../images/Anilao Batangas/14.jpg")
}
.slide15 {
	background-image: url("../../images/Anilao Batangas/15.jpg")
}
