.slide1 {
	background-image: url("../../images/Tagaytay House/1.jpg")
}
.slide2 {
	background-image: url("../../images/Tagaytay House/2.jpg")
}
.slide3 {
	background-image: url("../../images/Tagaytay House/3.jpg")
}
.slide4 {
	background-image: url("../../images/Tagaytay House/4.jpg")
}
.slide5 {
	background-image: url("../../images/Tagaytay House/5.jpg")
}
.slide6 {
	background-image: url("../../images/Tagaytay House/6.jpg")
}
.slide7 {
	background-image: url("../../images/Tagaytay House/7.jpg")
}
.slide8 {
	background-image: url("../../images/Tagaytay House/8.jpg")
}
.slide9 {
	background-image: url("../../images/Tagaytay House/9.jpg")
}
.slide10 {
	background-image: url("../../images/Tagaytay House/10.jpg")
}
.slide11 {
	background-image: url("../../images/Tagaytay House/11.jpg")
}