.slide1 {
	background-image: url("../../images/Fraser Place/1.png")
}
.slide2 {
	background-image: url("../../images/Fraser Place/2.png")
}
.slide3 {
	background-image: url("../../images/Fraser Place/3.png")
}
.slide4 {
	background-image: url("../../images/Fraser Place/4.png")
}
.slide5 {
	background-image: url("../../images/Fraser Place/5.png")
}
.slide6 {
	background-image: url("../../images/Fraser Place/6.png")
}
.slide7 {
	background-image: url("../../images/Fraser Place/7.png")
}
.slide8 {
	background-image: url("../../images/Fraser Place/8.png")
}
.slide9 {
	background-image: url("../../images/Fraser Place/9.png")
}
.slide10 {
	background-image: url("../../images/Fraser Place/10.png")
}
.slide11 {
	background-image: url("../../images/Fraser Place/11.png")
}
.slide12 {
	background-image: url("../../images/Fraser Place/12.png")
}
.slide13 {
	background-image: url("../../images/Fraser Place/13.png")
}
.slide14 {
	background-image: url("../../images/Fraser Place/14.png")
}